{
  "extends": ["@eslint-kit/base", "@eslint-kit/node", "@eslint-kit/prettier"],
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "no-use-before-define": "off"
  },
  "overrides": [
    {
      "files": ["tests/**", "*.test.js"],
      "plugins": ["jest"],
      "env": {
        "node": true,
        "jest": true
      }
    }
  ]
}
