{
  "extends": [
    "@eslint-kit/base",
    "@eslint-kit/typescript",
    "@eslint-kit/node",
    "@eslint-kit/prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true
  },
  "rules": {
    "no-use-before-define": "off"
  },
  "overrides": [
    {
      "files": ["tests/**", "*.test.js"],
      "plugins": ["jest"],
      "env": {
        "node": true,
        "jest": true
      }
    }
  ]
}
